# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## apple specific stuff for colaborators
# General
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Singularity 
*.sif

# Data and Results
./data/*
./results/*
./results/100/*

# Run on Cluster
run_slurm.sh

.keras*
.snakemake*
.toy_slurm*
On branch fmlab/local-modifications
Untracked files:
  (use "git add <file>..." to include in what will be committed)
	config/SLX-24489.tsv
	config/SLX-25392.tsv
	config/SLX-26395.tsv
	config/SLX-26395_100.tsv
	config/SLX-26397.tsv
	config/SLX-26397_100.tsv
	config/SLX-27320.tsv
	config/SLX-27320_100.tsv
	config/SLX-27321.tsv
	config/SLX-27321_100.tsv
	config/SLX-27322.tsv
	config/SLX-27322_100.tsv
	config/SLX-27323.tsv
	config/SLX-27323_100.tsv
	config/SLX-27480.tsv
	config/SLX-27480_100.tsv
	config/SLX-27481.tsv
	config/SLX-27481_100.tsv
	config/SLX-27482.tsv
	config/SLX-27483.tsv
	config/SLX-27484.tsv
	config/SLX-27545.tsv
	config/SLX-27546.tsv
	config/SLX-27548.tsv
	config/SLX-27548_100.tsv
	config/SLX-27548_modified_100.tsv
	config/SLX-27559.tsv
	config/SLX-27559_Plate_537_SINCEL-329.tsv
	config/SLX-27559_Plate_537_SINCEL-330.tsv
	config/SLX-27559_Plate_538.tsv
	config/SLX-27559_Plate_538_SINCEL-329.tsv
	config/SLX-27559_Plate_538_SINCEL-330.tsv
	config/SLX-27641.tsv
	config/SLX-27641_100.tsv
	config/SLX-27642.tsv
	config/SLX-27642_100.tsv
	config/SLX-27643.tsv
	config/SLX-27643_100.tsv
	config/SLX-27644.tsv
	config/SLX-27644_100.tsv
	config/SLX-27645.tsv
	config/SLX-27645_original.tsv
	config/SLX-27721-original.tsv
	config/SLX-27721.tsv
	config/SLX-27722.tsv
	config/SLX-27723.tsv
	config/SLX-27724.tsv
	config/SLX-27724_100.tsv
	config/SLX-27724_original.tsv
	config/SLX-27841.tsv

nothing added to commit but untracked files present (use "git add" to track)
config/SLX-*.original
config/config.yaml_*
.vscode/
SLX-*/
workflow/scripts/test_qc.R
